/* Flex box classes */
.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.tester {
}

.flex-1 {
    flex: 1;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}
.flex-8 {
    flex: 8;
}

.footer {
}

.bottom {
    align-self: flex-end;
}


.center {
    align-self: center;
}

.right-flex {
    margin-left: auto;
}

/* Width and height */

.w-full {
    width: 100vw;
}

.h-90 {
    height: 715px;
}

.h-40 {
    height: 78px;
}

/* Colours */

.bg-garish-green {
    background-color: chartreuse;
}

.bg-black {
    background-color: black;
}

.bg-garish-green-darker {
    background-color: #1bb82e;
}

.bg-garish-pink {
    background-color: hotpink;
}

.bg-yellow {
    background-color: yellow;
}

/* text */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-grey-light {
    color: lightgrey;
}

:hover.hover-light {
    color: white;
}

/* overflow */
.overflow-scroll {
    overflow: scroll;
}
